@model CalculatorWebApp.Models.Calculation
@{
    ViewData["Title"] = "Calculator";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { calculation = "form"})){
    <body>
        <form method="post">
            <fieldset>
                <legend>Let's calculate!</legend>
                <div class="form-group">
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstNumber, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.FirstNumber, new { @class = "form-control" })                       
                        <small id="numberHelp" class="form-text text-muted">Number must be between 0 and 1.</small>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SecondNumber, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.SecondNumber, new { @class = "form-control" }) 
                    <small id="numberHelp" class="form-text text-muted">Number must be between 0 and 1.</small>
                </div>
                <div class="form-group">
                    @foreach (var operationType in (CalculatorWebApp.Models.Calculation.OperationType[])Enum.GetValues(typeof(CalculatorWebApp.Models.Calculation.OperationType)))
                    {                   
                        <label class="form-check-label">
                            @Html.RadioButtonFor(m => m.Operation, (int)operationType, new { id = "" })
                            <span>@operationType</span>
                        </label>
                    }
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </fieldset>
        </form>
    </body>
}

@if(Model != null && Model.Result != null)
{
    <div class="form-group">
         @Html.LabelFor(m => m.Result, new { @class = "control-label" })
         @Html.TextBoxFor(m => m.Result, new { @class = "form-control" })
    </div>
}

    
