@model CalculatorWebApp.Models.Calculation
@{
    ViewData["Title"] = "Calculator";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { calculation = "form"})){
    <body>
        <form method="post">
            <fieldset>
                <legend>Let's calculate!</legend>
                <div class="form-group">
                        <div class="form-group">
                            <label class="form-check-label">Number A</label>
                            @Html.TextBoxFor(m => m.NumberA, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NumberA, "", new { @class = "text-danger" })
                        </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label class="form-check-label">Number B</label>
                        @Html.TextBoxFor(m => m.NumberB, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NumberB, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @foreach (var operationType in (CalculatorWebApp.Models.Calculation.OperationType[])Enum.GetValues(typeof(CalculatorWebApp.Models.Calculation.OperationType)))
                    {                   
                        <label class="form-check-label">
                            @Html.RadioButtonFor(m => m.Operation, (int)operationType, new { id = "" })
                            <span>@operationType</span>
                        </label>
                    }
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </fieldset>
        </form>
    </body>
}

@if(Model != null && Model.Result != null)
{
    <div class="form-group">
         @Html.LabelFor(m => m.Result, new { @class = "control-label" })
         @Html.TextBoxFor(m => m.Result, new { @class = "form-control" })
    </div>
}
